/* CARD STYLING */
.card:not(#addaffirmation) {
  cursor: pointer;
  width: 98%;
  height: 90%;
  border-radius: 4%;
}

.card:hover:not(#addaffirmation) {
  background-color: rgb(255, 212, 175);
  box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.card-title {
  font-family: 'Overpass', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  display: inline-flex;
  text-align: center;
}

.card-text {
  text-align: center;
  padding-top: 1em;
  font-size: medium;
}

.card-img:hover {
  transform: rotateY(180deg);
  transition: linear 0.65s;
}

.container {
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none;
}

.addaffirmation {
  margin: 5% 1%;
}

.textform {
  margin: 1% 8%;
}

/* AFFIRMATIONS STYLING */
.list-group {
  margin: 5% 1%;
  width: fit-content;
}

.list-group-item {
  padding: 1rem;
  background-color: #f9f6f6;
  border: 1px solid #000202;
}
.list-group :hover {
  background-color: rgb(218, 249, 210);
  font-weight: bold;
}

.delete {
  position: absolute;
  right: 0.25rem;
  border: none;
  background: none;
}

.x{
vertical-align: top;
}

.x:hover {
  color: rgb(255, 0, 0);
  font-size: 1.75rem;
}

/* Avatar Title */
@media screen and (max-width: 768px) {
  h1 {
    visibility: hidden;
    text-transform: uppercase;
    text-shadow: 3px 3px 7px;
    letter-spacing: 1rem;
    word-spacing: 12rem;
    vertical-align: middle;
    word-wrap: normal;
  }
}

h1 {
  text-transform: uppercase;
  text-shadow: 4px 4px 4px;
  letter-spacing: 1.5rem;
  word-spacing: 10rem;
  vertical-align: middle;
  word-wrap: normal;
}

.jumbotron {
  background: no-repeat;
  background-size: contain;
  background-position: center;
  border-bottom-style: double;
  border-width: 0.5rem;
}

.left {
  text-align: center;
  display: inline-block;
  width: 100%;
}

.right {
  text-align: center;
  display: inline-block;
  width: 100%;
}

/* Home Button */
.gohome {
  line-height: 60px;
  width: 259px;
}

.gohome:hover {
  transform: scaleY(1.3);
  cursor: pointer;
  font-weight: 500;
}

.gohome:active {
  transform: translateY(3px);
}

.home {
  position: relative;
  margin-left: 3rem;
  width: 40px;
  height: 40px;
}

.hometxt {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  word-spacing: 0.25rem;
}

/* Play Affirmation */
.play {
  background: none !important;
  border: none;
  padding: 1%;
  cursor: pointer;
  position: relative;
  margin-right: 2rem;
  font-size: 18px;
}
