/* CARD STYLING */
.card:hover:not(#addaffirmation) {
  background-color: rgb(255, 212, 175);
}

.card:not(#addaffirmation) {
  width: 98%;
  height: 90%;
  cursor: pointer;
}

.card-title {
  font-family: 'Overpass', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  display: inline-flex;
  text-align: center;
}

.card-text {
  text-align: center;
  padding-top: 1em;
  font-size: medium;
}

.container {
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none;
}

/* AFFIRMATIONS STYLING */
.list-group {
  margin-left: 5%;
  width: fit-content;
}

.list-group-item {
  background-color: #f9f6f6;
  border: 1px solid #000202;
}
.list-group :hover {
  background-color: rgb(218, 249, 210);
}

.delete {
  position: absolute;
  right: 0.25rem;
  border: none;
  background: none;
}

.delete:hover {
  background: rgb(255, 0, 0);

}
/* Avatar Title */
h1 {
  text-align: left;
  word-wrap: break-word;
}

.jumbotron {
  background: no-repeat;
  background-size: contain;
  background-position: center;
}

/* Home Button */
.reset {
  margin-top: 1rem;
  position: relative;
  margin-left: 3rem;
}

/* Play Affirmation */
.play {
  background: none !important;
  border: none;
  padding: 0 !important;
  cursor: pointer;
  position: relative;
  margin-right: 2rem;
}
