/* CARD STYLING */
.card:hover:not(#addaffirmation) {
  background-color: rgb(255, 212, 175);
}

.card:not(#addaffirmation) {
  width: 98%;
  height: 90%;
  cursor: pointer;
}

.card-title {
  font-family: 'Overpass', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  display: inline-flex;
  text-align: center;
}

.card-text {
  text-align: center;
  padding-top: 1em;
  font-size: medium;
}

.card-img:hover {
  transform: rotateY(180deg);
  transition: linear 0.65s;
}

.container {
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none;
}

.addaffirmation {
  margin: 5% 1%;
}

.textform{
  margin: 1% 8%;
}

/* AFFIRMATIONS STYLING */
.list-group {
  margin: 5% 1%;
  width: fit-content;
}

.list-group-item {
  padding: 1rem;
  background-color: #f9f6f6;
  border: 1px solid #000202;
}
.list-group :hover {
  background-color: rgb(218, 249, 210);
}

.delete {
  position: absolute;
  right: 0.25rem;
  border: none;
  background: none;
}

span:hover {
  color: rgb(255, 0, 0);
}

/* Avatar Title */
@media screen and (max-width: 1024px){
  h1 {
    visibility: hidden;
    text-transform: uppercase;
    text-shadow: 3px 3px 7px;
    letter-spacing: 1rem;
    word-spacing: 12rem;
    vertical-align: middle;
    word-wrap: normal;
  }
}

h1 {
  text-transform: uppercase;
  text-shadow: 4px 4px 4px;
  letter-spacing: 1.5rem;
  word-spacing: 10rem;
  vertical-align: middle;
  word-wrap: normal;
}


.jumbotron {
  background: no-repeat;
  background-size: contain;
  background-position: center;
  border-bottom-style: double;
  border-width: 0.5rem;
}

.left {
  text-align: right;
  display: inline-block;
  width: 82%;
}

.right {
  text-align: right;
  display: inline-block;
}

/* Home Button */
.reset {
  margin-top: 1rem;
  position: relative;
  margin-left: 3rem;
}

/* Play Affirmation */
.play {
  background: none !important;
  border: none;
  padding: 0 !important;
  cursor: pointer;
  position: relative;
  margin-right: 2rem;
}
